*{
    margin: 0%;
   font-size: large;
   color: aliceblue;
   margin-bottom: 10px;
}
body{
    background-color: rgb(19, 65, 192);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

}
.nav{
    display: inline-flex;
    text-decoration: none;background-color:rgb(0, 0, 0);
    height: 40px;
    width: 100%;
 justify-content: space-evenly;
    text-align: right;
    text-decoration: none;
    align-items: flex-end;
    align-items: end;
    margin-top: 0%;
    text-transform: uppercase;

    a{
        text-align: left;
     font-size: large;
        text-decoration: none;
        color: white;
        border-radius: 20px;
    }
    a:hover{
        background: rgb(42, 75, 165);
        transition: 0s;
    }
    button{
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 40px;
    }
}
.nav .things a{
    text-align: right;
    justify-content: space-between;
}
.ben{
    margin-top: 7px;
}

.footer{
    background-color: rgb(0, 0, 0);
    position: fixed;
    height: 130px;
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
    color: white;
    margin: 0;
    padding: 0;
    z-index: 1;
bottom: 0;
    font-size: larger;
    a{
        color: white;
        text-decoration: none;
        display: block;
    }
    li{
        text-decoration: none;
    }
}

.about{
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    border-color: black;
    align-content: center;

}
.container1{
    align-items: center;
    display: flex;
   
    justify-content: center;
}
.customer-service{
    ul{
        text-decoration: none;
    }
}
.customer-service ul li {
    text-decoration: none;
    font-size: larger;
}
h1{
    color: rgb(35, 243, 8);
}
h2{
    color: rgb(35, 243, 8);
}
.about{
    justify-content: space-between;
}
.container2{
    height: 100%;
    width: 100%;
}
.projects{
    a{
        font-weight: bold;
        text-decoration: none;
    }
    display: flex;
    justify-content: space-between;
}
.abc{
    background-color: rgb(0, 0, 0);
}
.start{
    img{
        border-radius: 90px;
    }
    display: flex;
}
.reachout{
    align-items: center;
    text-align: center;
}
.fedi{
    text-align: center;
}
.img{
    display: block;
    background-color: black;
}
.def{
    display: block;
}
h5{
    background-color: black;
}
h6{
    background-color: black;
}
